@font-face {
	font-family: 'Fuzzy_Bubbles';
	src: url('./fonts/Fuzzy_Bubbles/FuzzyBubbles-Regular.ttf');
}

:root {
  --maincolor: #bababa;
  --maincolor2: 
  --gap: 30px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--maincolor);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.boxheader {
  width: auto;
  height: 100px;
  border: 3px dotted black;
  display: block;
  padding: 25px;
  margin: 0px 15px auto 15px;
  background-color: red;
}

.mainheader {
  font-size: 45px;
  background-color: red;
  font-family: Fuzzy_Bubbles;
}

.secondheader {
  font-size: 20px;
  background-color: red;
}

/*a:hover*/